<h1>Timestamp Microservice</h1> </br>
<p>Use the URL to return a timestamp. Type any date or unix time as a path for the website, and it will return the unix time and natural date in the display. If something other than a date is entered, both values will return null.</p></br></br>
<h3>Examples:</h3>
<p>https://timestampmicroservice-stavo343.herokuapp.com/August 6, 2016 </br>
  https://timestampmicroservice-stavo343.herokuapp.com/1470441600 </br></br></p>
<h3>Output:</h3>
<p>{"unix":"1470441600","natural":"August 6, 2016"}</p>
